localhost:2224 {
    tls internal
    reverse_proxy speech-container:2224

    request_body {
        max_size 3000MB  # Set the maximum file upload size to 50MB
    }
}

127.0.0.1:2224 {
    tls internal
    reverse_proxy speech-container:2224
}
